*.o
*.obj
*.out
*.exe
*.app
*.so
*.a
*.lib
*.dll
*.dylib

[Bb]uild/
[Dd]ebug/
[Rr]elease/
bin/
obj/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.vscode/ipch/
.vscode/*.browse
.vscode/*.code-workspace

.DS_Store
Thumbs.db
Desktop.ini

*.log
*.tmp
